# Render Blueprint template. Adjust values as needed.
services:
  - type: web
    name: headscale
    env: docker
    plan: free
    region: oregon
    dockerfilePath: ./Dockerfile
  - type: web
    name: headscale-ui
    env: docker
    plan: free
    region: oregon
    image:
      url: ghcr.io/gurucomputing/headscale-ui:latest
    envVars:
      - key: HEADSCALE_URL
        value: https://headscale-render.onrender.com
      - key: HEADSCALE_API_KEY
        value: REPLACE_ME
