# Render Blueprint template. Adjust values as needed.
services:
  - type: web
    name: headscale
    runtime: docker
    plan: free
    region: oregon
    dockerfilePath: Dockerfile
    dockerContext: .
  - type: web
    name: headscale-ui
    runtime: image
    plan: free
    region: oregon
    image:
      url: ghcr.io/gurucomputing/headscale-ui:latest
    envVars:
      - key: HEADSCALE_URL
        value: https://headscale-render.onrender.com
      - key: HEADSCALE_API_KEY
        sync: false
